:root { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  :root { font-family: 'InterDisplay', sans-serif; }
}

html{
    box-sizing: border-box;
    height: 100%;
}

*,
*::before,
*::after{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
*:focus{
    outline: 0;
}

body{
    align-items: center;
    background: #010101;
    display: flex;
    font-family: 'InterDisplay', sans-serif;
    height: inherit;
    justify-content: center;
}

.calculator{
    background: #050505;
    border: 2.13px solid #252525;
    border-radius: 14.45px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 22px;
    padding-bottom: 12px;
    color: #F5F5F5;
}

.screen{
    background: #0D0D0D;
    border: 2px solid #252525;
    border-radius: 14.45px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    text-align: right;
    width: 336.86px;
    padding: 14px 20px;
    margin-bottom: 5%;
    gap: 5px;
}

.screen input{
    background: transparent;
    border: none;
    font-family: 'InterDisplay', sans-serif;
    font-weight: 500;
}

.lower_part{
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    border-radius: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}

.lower_part input{
    color: #F5F5F5;
    width: 100%;
    display: flex;
    font-size: 40px;    
    text-align: end;
}

.calculation{
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: #5A5A5A;
    overflow: auto;
    font-size: 29px;
    text-align: right;
}

.buttons_row{
    display: flex;
    justify-content: space-between;
    margin: 3% 0;
}

.button{
    background: #101010;
    background: radial-gradient(at left top, #101010, #010101);
    border: 1.76px solid #252525;
    border-radius: 50%;
    flex-basis: 76px;
    height: 76px;
    color: #CFC8B5;
    font-family: inherit;
    font-size: 36px;
    font-weight: 500;
    cursor: pointer;
}

.zero{
    flex-basis: 163.23px;
    border-radius: 23px;
    font-weight: 500;
    background: linear-gradient(0deg, #030303, #0C0C0C);
}

.red{
    color: red;
}

.symbol{
    font-family: inherit;
    font-size: 44px;
}

.period{
    padding-top: 12px;
}